body {
    font-family: Source Sans Pro, Ubuntu, sans-serif;
    /* font-weight: lighter; */
    /* background-color: #fffcf5; */
    color: #073642;
}

.fixedHeaderContainer {
    background-color: #f7f7f7;
}

.projectTitle {
    color: #073642;
    font-weight: 800;
}

.projectLogo {
    height: 85%;
}


a.button {
    font-weight: bold;
}

.navigationSlider .slidingNav ul li a {
    color: #707482;
    font-weight: 600;
    /* letter-spacing: 0.45px; */
}

.navigationSlider .slidingNav ul li.siteNavGroupActive a,
.navigationSlider .slidingNav ul li.siteNavItemActive a,
.navigationSlider .slidingNav ul li a:focus,
.navigationSlider .slidingNav ul li a:hover {
    /* background: #ff5f00; */
    color: #fdf6e3;
}

.imageAlignTop .blockImage {
    height: 160px;
    max-width:160px;
}

.imageAlignRight .blockImage {
    max-height: 200px;
    max-width: 200px;
}


.navigationSlider .slidingNav ul li.siteNavItemActive a {
    color: #fdf6e3;
}

.nav-footer {
    background-color: #002b36;
}

.nav-footer .sitemap .nav-home {
    height: 34px;
    opacity: 0.8;
    padding: 10px;
    transition: opacity 0.15s ease-in-out;
    width: 200px;
}


.blog .wrapper {
    max-width: 1400px;
}
.blog .post {
    max-width: 780px;
}

.mainContainer .container {
    
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
